---
title: MWC - Le festival du numérique des MMI
---
<header class="bkg-yellow3">
  <div class="container welcome text-center p-t-100 p-b-100">
    <div class="flex-center">
      <h1 class="font-white cadre">MMI Web Cup</h1>
    </div>
    <p class="sous-titre font-white">à un clic de la victoire</p>
    <div class="col-lg-offset-2 col-lg-8">
      <p class="font-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</header>

<section class="bkg-white">
  <div class="container">
    <div class="col-lg-offset-2 col-lg-8">
      <h2 id="identite">Identité</h2>
      <div class="flex-right">
        <h3>Les Couleurs</h3>
      </div>
      <%= image_tag "charte.png", :class => "mw-100" %>
    </div>
  </div>
</section>

<section class="bkg-yellow3">
  <div class="container">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="flex-right">
        <h3 class="font-white">Le Logo</h3>
      </div>
      <div class="col-lg-6">
        <p class="m-t-30 font-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-lg-6">
        <%= image_tag "LogoMWCJT.png", :class => 'logo-pres' %>
      </div>
    </div>
  </div>
</section>

<section class="bkg-white">
  <div class="container">
    <div class="col-lg-offset-2 col-lg-8">
      <h2 id="activite">Activités</h2>
    </div>
  </div>
</section>

<section class="bkg-yellow3">
  <div class="container">
    <div class="m-t-50 m-b-50 col-lg-offset-2 col-lg-8">
      <div class="slick">
        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">Challenge Audiovisuel</h4>
            <p class="font-white">Vous êtes jusqu’à sept par équipe de production, en l’espace d’une demie journée vous devrez trouver un scénario, tourner les rush et les monter en respectant des mots spécifiques à placer et en utilisant un décor et des accessoires communs à toutes les équipes.</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "audiovisuel.jpeg", :class => 'logo-pres' %>
          </div>
        </div>
        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">Zidane</h4>
            <p class="font-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-white">
  <div class="container">
    <div class="col-lg-offset-2 col-lg-8">
      <h2 id="planning">Planning</h2>
      </div>
    </div>
  </div>
</section>
<section class="bkg-yellow3">
  <div class="container">
  <div class="col-lg-offset-2 col-lg-8">
    <h4 class="font-white fw-900">Jeudi</h4>
    <div class="slick m-b-50">
      <div>
      <div class="col-lg-offset-2 col-lg-2">
        <p class="heure">9h</p>
      </div>
      <div class=" col-lg-3">
        <h5 class="fw-900 font-white">Salle 1</h5>
        <p class="font-white">zidane aime le footer</p>
        <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
      </div>
      <div class=" col-lg-3">
        <h5 class="fw-900 font-white">Salle 2</h5>
        <p class="font-white">zidane aime le footer</p>
        <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
      </div>
    </div>

    <div>
    <div class="col-lg-offset-2 col-lg-2">
      <p class="heure">10h</p>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 1</h5>
      <p class="font-white">zidane aime le footer</p>
      <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 2</h5>
      <p class="font-white">zidane aime le footer</p>
      <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
    </div>
  </div>

  <div>
  <div class="col-lg-offset-2 col-lg-2">
    <p class="heure">11h</p>
  </div>
  <div class=" col-lg-3">
    <h5 class="fw-900 font-white">Salle 1</h5>
    <p class="font-white">zidane aime le footer</p>
    <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
  </div>
  <div class=" col-lg-3">
    <h5 class="fw-900 font-white">Salle 2</h5>
    <p class="font-white">zidane aime le footer</p>
    <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
  </div>
</div>

    </div>

<div class="line">

</div>

    <h4 class="font-white fw-900">Vendredi</h4>
    <div class="slick m-b-50">
      <div>
      <div class="col-lg-offset-2 col-lg-2">
        <p class="heure">9h</p>
      </div>
      <div class=" col-lg-3">
        <h5 class="fw-900 font-white">Salle 1</h5>
        <p class="font-white">zidane aime le footer</p>
        <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
      </div>
      <div class=" col-lg-3">
        <h5 class="fw-900 font-white">Salle 2</h5>
        <p class="font-white">zidane aime le footer</p>
        <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
      </div>
    </div>

    <div>
    <div class="col-lg-offset-2 col-lg-2">
      <p class="heure">10h</p>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 1</h5>
      <p class="font-white">zidane aime le footer</p>
      <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 2</h5>
      <p class="font-white">zidane aime le footer</p>
      <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
    </div>
  </div>

  <div>
  <div class="col-lg-offset-2 col-lg-2">
    <p class="heure">11h</p>
  </div>
  <div class=" col-lg-3">
    <h5 class="fw-900 font-white">Salle 1</h5>
    <p class="font-white">zidane aime le footer</p>
    <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
  </div>
  <div class=" col-lg-3">
    <h5 class="fw-900 font-white">Salle 2</h5>
    <p class="font-white">zidane aime le footer</p>
    <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
  </div>
</div>

    </div>


  </div>
</div>
</section>
