---
title: MWC - Le festival du numérique des MMI
---
<header class="bkg-yellow3">
  <div class="container welcome text-center p-t-100 p-b-100">
    <div class="flex-center">
      <h1 class="font-white cadre">MMI Web Cup</h1>
    </div>
    <p class="sous-titre font-white">à un café de la victoire</p>
    <div class="col-lg-offset-2 col-lg-8">
      <p class="font-white">Vous aimez les défis ? La compétition ? Le web ? Et le Café ? Rejoignez la MMI WEB CUP, les olympiades inter MMI où la victoire ne tient qu’à une ultime tasse de café.
Formez votre équipe de MMI sur-caféinée et mesurez-vous aux départements MMI de toute la France ! Entre concours de debugging, design contre la montre et challenge audiovisuel, imposer les skills de votre team et tentez de remporter la première édition de la MMI WEB CUP !
</p>
    </div>
  </div>
</header>

<section class="bkg-white">
  <div class="container">
    <div class="col-lg-offset-2 col-lg-8">
      <h2 id="identite">Identité</h2>
      <div class="flex-right">
        <h3>Les Couleurs</h3>
      </div>
      <%= image_tag "charte.png", :class => "mw-100" %>
    </div>
  </div>
</section>

<section class="bkg-yellow3">
  <div class="container">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="flex-right">
        <h3 class="font-white">Le Logo</h3>
      </div>
      <div class="col-lg-6">
        <p class="m-t-30 font-white">Notre projet étant lié au domaine du web et du
        multimédia, nous avons opté pour un logo au style
        flat design. L'ordinateur, orné de deux anses, est
        représentatif d’une coupe, symbole de compétition.
        modernité et du minimalisme.
        Le jaune est ici synonyme de créativité, de gaieté
        et d'enthousiasme. De plus, sa présence en touches
        modérées sur des nuances de gris apporte de la
        modernité et du minimalisme.</p>
      </div>
      <div class="col-lg-6">
        <%= image_tag "LogoMWCJT.png", :class => 'logo-pres' %>
      </div>
    </div>
  </div>
</section>

<section class="bkg-white">
  <div class="container">
    <div class="col-lg-offset-2 col-lg-8">
      <h2 id="activite">Activités</h2>
    </div>
  </div>
</section>

<section class="bkg-yellow3">
  <div class="container">
    <div class="m-t-50 m-b-50 col-lg-offset-2 col-lg-8">
      <div class="slick">

        <!--  audiovisuel -->
        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">Challenge Audiovisuel</h4>
            <p class="font-white">Vous êtes jusqu’à sept par équipe de production, en l’espace d’une demie journée vous devrez trouver un scénario, tourner les rush et les monter en respectant des mots spécifiques à placer et en utilisant un décor et des accessoires communs à toutes les équipes.</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "audiovisuel.jpeg", :class => 'img-pres' %>
          </div>
        </div>

        <!--  debug -->
        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">Debugging contre la montre</h4>
            <p class="font-white">Vous êtes en binôme et entrez dans le peau de Steve Jobs pour résoudre le maximum de bugs sur site web en un temps imparti - à chaque bug résolu, un shot de café serré comme deux couilles dans un slip.</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "code.jpeg", :class => 'img-pres' %>
          </div>
        </div>

        <!--  Lepers -->
        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">C’est la mer noir</h4>
            <p class="font-white">Julien Lepers sera notre Guest Star pour cette nouvelle version MMI de question pour un champion. En effet, par équipe ou en solo, vous aurez à répondre le plus vite possible à des questions de culture MMI. Le/les candidat(s) ayant le plus de points remporte(nt) l’épreuve (nan jure?!).</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "lepers.jpg", :class => 'img-pres' %>
          </div>
        </div>

        <!--  #PHOTOCUP -->
        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">#PHOTOCUP</h4>
            <p class="font-white">D’après un thème donné vous aurez toute la durée de l'événement pour prendre votre plus belle photo et la partager sur instagram avec le hashtag #PHOTOCUP. Un jury sage et avisé désignera le vainqueur.
</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "photo.jpg", :class => 'img-pres' %>
          </div>
        </div>

        <!--  design -->
        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">Challenge design</h4>
            <p class="font-white">Cahier des charges imposé, éléments graphiques imposés, vous aurez deux heures pour designer un logo et le décliner selon une charte graphique.</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "design.jpeg", :class => 'img-pres' %>
          </div>
        </div>

        <!--  Eloquence -->
        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">“I Had a dream”</h4>
            <p class="font-white">Vous êtes derrière un micro et votre but et de nous tirer les larmes des yeux, nous faire rire, pleurer, voir même nous faire souffrir avec comme seul outils vos mots ! Un concours d'éloquence avec thème imposé qui promet d’être riche en émotions.</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "eloquence.jpg", :class => 'img-pres' %>
          </div>
        </div>

        <!--  E-rep -->
        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">MMIréputation</h4>
            <p class="font-white">A l’issue des 2 jours de compétition après de multiples échanges entre départements un vote sera effectué afin d’élire le département MMI le plus cool ! A vous de faire le nécessaire !</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "reputation.jpg", :class => 'img-pres' %>
          </div>
        </div>

        <div>
          <div class="col-lg-6">
            <h4 class="font-white activite-title">Zidane</h4>
            <p class="font-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-6">
            <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-white">
  <div class="container">
    <div class="col-lg-offset-2 col-lg-8">
      <h2 id="planning">Planning</h2>
      </div>
    </div>
  </div>
</section>
<section class="bkg-yellow3">
  <div class="container">
  <div class="col-lg-offset-2 col-lg-8">
    <h4 class="font-white fw-900">Jeudi</h4>
    <div class="slick m-b-50">
      <div>
      <div class="col-lg-offset-2 col-lg-2">
        <p class="heure">9h</p>
      </div>
      <div class=" col-lg-5">
        <h5 class="fw-900 font-white">Salle 1</h5>
        <p class="font-white">Présentation des events</p>
        <%= image_tag "zidane.jpg", :class => 'img-pres' %>
      </div>
    </div>

  <div>
    <div class="col-lg-offset-2 col-lg-2">
      <p class="heure">10h</p>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 1</h5>
      <p class="font-white">Acti 1</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 2</h5>
      <p class="font-white">Acti 2</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
  </div>

  <div>
    <div class="col-lg-offset-2 col-lg-2">
      <p class="heure">11h30</p>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 1</h5>
      <p class="font-white">Acti 1</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 2</h5>
      <p class="font-white">Acti 3</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
  </div>

  <div>
    <div class="col-lg-offset-2 col-lg-2">
      <p class="heure">13h - 15h</p>
    </div>
    <div class="col-lg-6">
      <h5 class="fw-900 font-white">REPAS</h5>
      <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
    </div>
  </div>

  <div>
    <div class="col-lg-offset-2 col-lg-2">
      <p class="heure">15h</p>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 1</h5>
      <p class="font-white">Acti 4</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 2</h5>
      <p class="font-white">Acti 5</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
  </div>

  <div>
    <div class="col-lg-offset-2 col-lg-2">
      <p class="heure">16h30</p>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 1</h5>
      <p class="font-white">Acti 4</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 2</h5>
      <p class="font-white">Acti 6</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
  </div>

  <div>
    <div class="col-lg-offset-2 col-lg-2">
      <p class="heure">18h</p>
    </div>
    <div class="col-lg-6">
      <h5 class="fw-900 font-white">FIN JOUR 1</h5>
    </div>
  </div>

    </div>

<div class="line">

</div>

    <h4 class="font-white fw-900">Vendredi</h4>
    <div class="slick m-b-50">
      <div>
      <div class="col-lg-offset-2 col-lg-2">
        <p class="heure">9h</p>
      </div>
      <div class=" col-lg-5">
        <h5 class="fw-900 font-white">Salle 1</h5>
        <p class="font-white">Présentation des events</p>
        <%= image_tag "zidane.jpg", :class => 'img-pres' %>
      </div>
    </div>

    <div>
    <div class="col-lg-offset-2 col-lg-2">
      <p class="heure">9h30</p>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 1</h5>
      <p class="font-white">Acti 7</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
    <div class=" col-lg-3">
      <h5 class="fw-900 font-white">Salle 2</h5>
      <p class="font-white">Acti 8</p>
      <%= image_tag "zidane.jpg", :class => 'img-pres' %>
    </div>
  </div>

<div>
  <div class="col-lg-offset-2 col-lg-2">
    <p class="heure">11h</p>
  </div>
  <div class=" col-lg-3">
    <h5 class="fw-900 font-white">Salle 1</h5>
    <p class="font-white">Acti 7</p>
    <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
  </div>
  <div class=" col-lg-3">
    <h5 class="fw-900 font-white">Salle 2</h5>
    <p class="font-white">Acti 9</p>
    <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
  </div>
</div>

<div>
  <div class="col-lg-offset-2 col-lg-2">
    <p class="heure">12h30 - 14h</p>
  </div>
  <div class="col-lg-6">
    <h5 class="fw-900 font-white">REPAS</h5>
    <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
  </div>
</div>

<div>
  <div class="col-lg-offset-2 col-lg-2">
    <p class="heure">14h</p>
  </div>
  <div class=" col-lg-3">
    <h5 class="fw-900 font-white">Salle 1</h5>
    <p class="font-white">Acti 10</p>
    <%= image_tag "zidane.jpg", :class => 'logo-pres' %>
  </div>
</div>

<div>
  <div class="col-lg-offset-2 col-lg-2">
    <p class="heure">16h - 18h</p>
  </div>
  <div class="col-lg-6">
    <h5 class="fw-900 font-white">Remise des prix</h5>
  </div>
</div>
<div>
  <div class="col-lg-offset-2 col-lg-2">
    <p class="heure">18h</p>
  </div>
  <div class="col-lg-6">
    <h5 class="fw-900 font-white">FIN JOUR 1</h5>
  </div>
</div>

    </div>


  </div>
</div>
</section>
